nav ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

nav ul li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
}

.container div {
    background-color: #fff;
    width: 500px;
    margin: 10px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    padding-top: 10px;
}

